{% extends "layout.html" %}

{% block title %}World Cultures - Visualizations {% endblock %}

{% block body %}
      {% block header %} {% endblock %}

    {% block content %} 
<div>
    <h1>
        World Cultures Visualizations
    </h1>
</div>
<div>
    <table class="table">
        <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
       
        <tr class="table__row">
            <td  class="table__cell" style="width: 15%">
                <strong>
                    {{data}}
                </strong>
            </td> 
            <td class="table__cell">
                {{data2}}
            </td>          
        </tr>
   
    </table>
</div>
{% endblock %}

{% endblock %}
